<div class="main-content page-m">
<div class="section-content section-content-p30">
    <div class="container-fluid">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <!-- Customer Form Group -->
             <div formGroupName="customer" class="form-area">
                <h3>Customer</h3>
                <div class="row">
                    <div class="col-md-4">
                        <label>First Name</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="firstName" type="text">
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                               Please valid first Name 
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Last Name</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="lastName" type="text">
                            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                                Please valid last Name 
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Email</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="email" type="text">
                            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                                Please valid Email Address 
                            
                             </div>
                        </div>
                    </div>
                </div>
             </div>
             <!-- Shipping Address -->
             <div formGroupName="shippingAddress" class="form-area">
                <h3>Shipping Address</h3>
                <div class="row">
                    <div class="col-md-4">
                        <label>Country</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                           <select formControlName="country" (change)="getStates('shippingAddress')">
                            <option *ngFor="let country of countries" [ngValue]="country">
                                {{country.name}}
                            </option>
                           </select>
                           <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">
                            Please Select the Country; 
                        
                         </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Street</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="street" type="text">
                            <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                Please Enter the Street
                            
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>City</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="city" type="text">
                            <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
                               Please enter the City
                            
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>State</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                           <select formControlName="state">
                                <option *ngFor="let state of shippingAddressState" [ngValue]="state">
                                        {{state.name}}
                                </option>
                           </select>
                           <div *ngIf="shippingAddressStates?.invalid && (shippingAddressStates?.dirty || shippingAddressStates?.touched)" class="alert alert-danger mt-1">
                            Please select the State
                         
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>ZipCode</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="zipCode" type="text">
                            <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                                Please Enter the ZipCode
                             
                              </div>
                        </div>
                    </div>
                </div>
             </div>
             <!-- Checkbox for copy the shipping address to billing address -->
              <div class="input-space">
                <label>
                    <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                    <span></span>Billing Address Same as Shipping Address
                </label>
              </div>
             <!-- Billing Address -->
             <div formGroupName="billingAddress" class="form-area">
                <h3>Billing Address</h3>
                <div class="row">
                    <div class="col-md-4">
                        <label>Country</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                           <select formControlName="country" (change)="getStates('billingAddress')">
                            <option *ngFor="let country of countries" [ngValue]="country">
                                {{country.name}}
                            </option>
                           </select>
                           <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
                            Please Select the Country; 
                        
                         </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Street</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="street" type="text">
                            <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                                Please Enter the Street
                            
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>City</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="city" type="text">
                            <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
                                Please enter the City
                             
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>State</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                           <select formControlName="state">
                            <option *ngFor="let state of billingAddressState" [ngValue]="state">
                                {{state.name}}
                        </option>
                           </select>
                           <div *ngIf="billingAddressStates?.invalid && (billingAddressStates?.dirty || billingAddressStates?.touched)" class="alert alert-danger mt-1">
                            Please select the State
                         
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>ZipCode</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="zipCode" type="text">
                            <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                                Please Enter the ZipCode
                             
                              </div>
                        </div>
                    </div>
                </div>
             </div>
             <!-- Credit Card -->

             <div formGroupName="creditCard" class="form-area">
                <h3>Credit Card</h3>
                <div class="row">
                    <div class="col-md-4">
                        <label>Card Type</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <select formControlName="cardType">
                                <option>Visa</option>
                                <option>MasterCard</option>
                               </select>
                               <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger mt-1">
                                Please select the card Type
                             
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Name on Card</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="nameOnCard" type="text">
                            <div *ngIf="creditCardNameonCard?.invalid && (creditCardNameonCard?.dirty || creditCardNameonCard?.touched)" class="alert alert-danger mt-1">
                                Please select the name 
                             
                              </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <label>Card Number</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="cardNumber" type="text">
                            <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger mt-1">
                                Please enter the Card Number 
                             
                              </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <label>Security Code</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <input formControlName="securityCode" type="text">
                            <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger mt-1">
                                Please enter the security code
                             
                              </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <label>Expiration Month</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <select formControlName="expirationMonth">
                                <option *ngFor="let month of creditCardMonths">
                                    {{month}}
                                </option>
                               </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Expiration Year</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-space">
                            <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                <option *ngFor="let year of creditCardYears">
                                    {{year}}
                                </option>
                               </select>
                        </div>
                    </div>
                </div>
             </div>
             <!-- Order Details review -->

             <div class="form-area">
                <h3>Review Your Order</h3>
                <p>Total Quantity: {{totalQuantity}}</p>
                <p>Shipping: FREE</p>
                <p>Total Price: {{totalPrice | currency : 'INR'}}</p>
             </div>
             <div class="text-center">
                <button type="submit" class="btn btn-info">Purchase</button>
             </div>
        </form>
    </div>
</div>
</div>
